.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/.DS_Store

# testing
coverage

# production
build
dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*
.env*.local
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

*.log

node_modules/
